@font-face {
    font-family: "Vitesse-Bold";
    src: url("../fonts/Vitesse-Bold.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "colfax-bold";
    src: url("../fonts/colfax-bold.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}
